.c-help-article {
	align-items: center;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	margin-bottom: -100px;
	padding-bottom: 150px;
}

.c-help-article__banner {
	background-color: #470061;
	align-items: center;
	justify-content: center;
	margin-bottom: 50px;
	overflow: hidden;
}

.c-help-article__banner img {
	height: auto;
	min-height: 300px;
	object-fit: cover;
	position: absolute;
	top: 0;
	width: 100%;
}

.c-help-article__heading {
	color: #fff;
	font-size: 52px;
	font-variation-settings: "wght" 700, "WONK" 0, "opsz" 10;
	margin-top: -20px;
	max-width: 100%;
	position: relative;
	text-align: center;
	width: 1000px;
}

.c-help-article__section-title {
	font-size: 40px;
	font-variation-settings: "wght" 550, "opsz" 10;
	margin: 0 0 70px;
}

.c-help-article__content {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin-bottom: 80px;
	position: relative;
}

.c-help-article__title {
	font-size: 40px;
	text-align: left;
	width: 100%;
}

.c-help-article__text {
	font-size: 24px;
	font-variation-settings: "wght" 350, "opsz" 10;
	margin: 0 0 20px;
	max-width: 100%;
	width: 1000px;
}

.c-help-article__caption {
	font-size: 22px;
	font-variation-settings: "wght" 350, "opsz" 10;
	margin: 0 0 20px;
	max-width: 100%;
	width: 630px;
}

.c-help-article__image {
	background-color: #d9d9d9;
	border-radius: 30px;
	display: flex;
	max-width: 100%;
	overflow: hidden;
	position: relative;
	width: 600px;
}

.c-help-article__image img {
	width: 100%;
}

.c-help-article__ordered-list,
.c-help-article__unordered-list {
	font-size: 22px;
	font-variation-settings: "wght" 350, "opsz" 10;
	margin-left: 30px;
	margin-top: 0;
	width: 100%;
}

.c-help-article__video-button {
	background-color: #d9d9d9;
	border: 0;
	border-radius: 30px;
	cursor: pointer;
	height: 340px;
	margin: 10px 0;
	max-width: 100%;
	transition: all 0.2s;
	width: 600px;
}

.c-help-article__video-button:hover {
	background-color: #e9e9e9;
}

.c-help-article__content strong {
	font-variation-settings: "wght" 650, "opsz" 10;
}

.c-help-article__content a {
	color: #1179B6;
}

.c-help-article__footer-title {
	font-size: 42px;
	font-variation-settings: "wght" 550, "opsz" 10;
}

.c-help-article__links {
	display: flex;
	justify-content: center;
}

.c-help-article__links .c-button {
	background-color: #C0FF76;
	margin: 0 15px;
}

@media screen and (max-width: 720px) {
	.c-help-article__content {
		box-sizing: border-box;
		padding: 0 30px;
		width: 100%;
	}
}