@keyframes text-shimmer {
	0% {
		background-position: -300px 0%;
	}
	50% {
		background-position: calc(100% + 300px) 0%;
	}
	100% {
		background-position: calc(100% + 300px) 0%;
	}
}

@keyframes squiggle {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 200px 0;
	}
}

@keyframes sparkle {
	0% {
		opacity: 0;
		transform: scale(1);
	}
	10% {
		opacity: 1;
		transform: scale(1.1);
	}
	30% {
		opacity: 0;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1);
	}
}

.c-home-summary {
	background-color: #fff;
	margin-bottom: 100px;
	padding: 10px 0 40px;
	position: relative;
}

.c-home-summary::after {
	background-color: #fff;
	border-radius: 50%;
	bottom: -2.5vw;
	content: "";
	height: 15vw;
	left: -25vw;
	position: absolute;
	width: 150vw;
}

.c-home-summary__title {
	font-size: 3.2vw;
	margin-top: 0;
	position: relative;
	text-align: center;
}

.c-home-summary__title span {
	font-family: "Fredoka", sans-serif;
	font-size: 4vw;
  font-variation-settings: "wdth" 100;
	font-weight: 500;
}

.c-home-summary__title::after {
	animation: squiggle 5s linear forwards infinite;
	background-image: url("/assets/squiggle.png");
	background-repeat: repeat-x;
	background-size: 200px 10px;
	bottom: -10%;
	content: "";
	height: 10px;
	left: 50%;
	margin-left: -100px;
	position: absolute;
	width: 200px;
}

.c-home-summary__content {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	position: relative;
	width: 80%;
	z-index: 2;
}

.c-home-summary__image-container {
	width: 70%;
	margin-bottom: 5%;
}

img.c-home-summary__graphic {
	width: 90%;
}

img.c-home-summary__animal {
	bottom: 20%;
	left: 32%;
	position: absolute;
	width: 20%;
}

.c-home-summary__text {
	color: #470061;
	display: flex;
	flex-direction: column;
	font-family: "Fredoka", sans-serif;
	font-size: 4.5vw;
	font-variation-settings: "wdth" 100;
	font-weight: 500;
	justify-content: center;
	position: relative;
}

.c-home-summary__text div {
	animation: text-shimmer 4s ease-in-out infinite;
	background: linear-gradient(70deg, #470061 0%, #fff 50%, #470061 100%);
	background-repeat: no-repeat;
	background-color: #470061;
	background-clip: text;
	background-size: 300px 100%;
	color: rgba(71, 0, 97, 0.1);
}

.c-home-summary__text span:first-of-type {
	font-size: 1.8vw;
	font-family: "Fraunces", serif;
	font-weight: 400;
	margin-right: 50px;
	margin-top: -8px;
	text-align: right;
}

.c-home-summary__text span:nth-of-type(2) {
	font-family: "Fraunces", serif;
	font-size: 1.2vw;
	font-style: italic;
	font-weight: 200;
	margin-right: 20px;
	text-align: right;
}

.c-home-summary__sparkle {
	opacity: 0;
	position: absolute;
}

.c-home-summary__sparkle:nth-of-type(1) {
	animation: sparkle 4s linear forwards infinite;
	animation-delay: 1.4s;
	height: 2vw;
	right: -20px;
	top: -10px;
	width: 2vw;
}

.c-home-summary__sparkle:nth-of-type(2) {
	animation: sparkle 4s linear forwards infinite;
	animation-delay: 1.2s;
	height: 1vw;
	right: 10px;
	top: -20px;
	width: 1vw;
}