.c-pricing-products {
	background-color: #fff;
	margin-bottom: -100px;
	padding-bottom: 100px;
}

.c-pricing-products__content {
	display: flex;
	justify-content: center;
	padding: 60px 0;
}

.c-pricing-products__primary-product,
.c-pricing-products__secondary-product {
	border-radius: 30px;
	height: 600px;
	margin: 0 30px;
	width: 500px;
}

.c-pricing-products__primary-product {
	background-color: #8DF1FF;
}

.c-pricing-products__secondary-product {
	background-color: #FCF43D;
}