body {
	margin: 0;
	font-family: "Fraunces", serif;
	font-variation-settings: "opsz" var(--opsz), "wght" var(--wght), "SOFT" var(--SOFT), "WONK" var(--WONK);
	--SOFT: 70;
	--wght: 400;
	--WONK: 0;
	--opsz: 20;
}