@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.c-home-banner {
	display: flex;
	height: 39vw;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.c-home-banner::after {
	background-color: #fff;
	border-radius: 50%;
	bottom: -11.5vw;
	box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
	content: "";
	height: 15vw;
	left: -25vw;
	position: absolute;
	width: 150vw;
}

.c-home-banner__background {
	position: absolute;
}

.c-home-banner__background img {
	position: relative;
	width: 100%;
}

.c-home-banner__content {
	display: flex;
	margin: 0 0 0 10%;
	position: relative;
}

.c-home-banner__text {
	animation: fade-in 0.5s linear forwards;
	animation-delay: 0.2s;
	color: #fff;
	font-size: 4.5vw;
	margin-top: 8%;
	opacity: 0;
	text-align: center;
	text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	width: 40%;
}

.c-home-banner__text span {
	color: #C0FF76;
}

.c-home-banner__image {
	align-items: flex-start;
	display: flex;
	height: auto;
	justify-content: center;
	margin-top: 3%;
	width: 60%;
}

.c-home-banner__image img {
	position: relative;
	width: 90%;
}