<footer class="c-footer">
	<div class="c-footer__content">
		<div class="c-footer__links-area">
			<div class="c-footer__links-block">
				<div class="c-footer__links-title">
					More Info
				</div>
				<ul class="c-footer__links-list">
					<li>
						<a href="#">Administrator Login</a>
					</li>
					<li>
						<a href="#">FAQ</a>
					</li>
					<li>
						<a href="#">Privacy Central</a>
					</li>
					<li>
						<a href="#">Legal Central</a>
					</li>
					<li>
						<a href="#">System Requirements</a>
					</li>
					<li>
						<a href="#">Accessibility Statement</a>
					</li>
					<li>
						<a href="#">Credits</a>
					</li>
				</ul>
			</div>

			<div class="c-footer__links-block">
				<div class="c-footer__links-title">
					About Us
				</div>
				<ul class="c-footer__links-list">
					<li>
						<a href="#">Our Story</a>
					</li>
					<li>
						<a href="#">International</a>
					</li>
					<li>
						<a href="#">Blog</a>
					</li>
					<li>
						<a href="#">News & Updates</a>
					</li>
					<li>
						<a href="#">Contact Us</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>