<div class="c-help-article" data-cmp-is="help-article">
	<!-- Banner -->
	<div class="c-help-article__banner c-banner banner-300 concave">
		<img src="${properties.bannerBackground}">

		<h1 class="c-help-article__heading">
			${properties.title}
		</h1>
	</div>

	<!-- Section title -->
	<h2 class="c-help-article__section-title">
		${properties.sectionTitle}
	</h2>

	<!-- Content -->
	<div class="c-help-article__content" data-content="${properties.content}">
		${properties.content}
	</div>

	<!-- Still have questions? -->
	<div class="c-help-article__footer">
		<h3 class="c-help-article__footer-title">
			${properties.moreQuestionsTitle}
		</h3>
		<div class="c-help-article__links">
			<a href="${properties.faqsUrl}" class="c-button">
				${properties.faqsText}
			</a>
			<a href="${properties.contactUrl}" class="c-button">
				${properties.contactText}
			</a>
		</div>
	</div>
</div>