<div class="c-newsletter-promo">
	<button class="c-button c-newsletter-promo__button">
		Stay in Touch
	</button>
	<p class="c-newsletter-promo__text">
		Our monthly PebbleGo Pulse newsletter includes the latest and greatest from PebbleGo—teacher and librarian-led inspiration and activities, calendars, and other downloadables.
	</p>

	<svg width="68" height="53" viewBox="0 0 68 53" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M66.9997 1L1 16.1927L10.3015 27.2691L13.1015 31.1301L28.4497 52.1381L66.9997 1Z" fill="white" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
		<path d="M50.1599 9.75879L10.3015 27.2688L9.18872 41.939L13.1016 31.1298L50.1599 9.75879Z" fill="#C0FF76" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
		<path d="M13.1018 31.1304L17.9201 37.7236L9.18896 41.9395L13.1018 31.1304Z" fill="white" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
	</svg>
		
</div>