<div class="c-pebblego-links">
	<h2 class="c-pebblego-links__title">
		{{title}}
	</h2>
	<div class="c-pebblego-links__categories">

		<div class="c-pebblego-links__category">
			<div class="c-pebblego-links__icon">
				<img src="{{icon1}}">
			</div>
			<h3 class="c-pebblego-links__title">
				{{title1}}
			</h3>
			<p class="c-pebblego-links__description">
				{{description1}}
			</p>
			<a href="{{url1}}" class="c-button">
				{{title1}}
			</a>
		</div>

		<div class="c-pebblego-links__category">
			<div class="c-pebblego-links__icon">
				<img src="{{icon2}}">
			</div>
			<h3 class="c-pebblego-links__title">
				{{title2}}
			</h3>
			<p class="c-pebblego-links__description">
				{{description2}}
			</p>
			<a href="{{url1}}" class="c-button">
				{{title2}}
			</a>
		</div>

		<div class="c-pebblego-links__category">
			<div class="c-pebblego-links__icon">
				<img src="{{icon3}}">
			</div>
			<h3 class="c-pebblego-links__title">
				{{title3}}
			</h3>
			<p class="c-pebblego-links__description">
				{{description3}}
			</p>
			<a href="{{url3}}" class="c-button">
				{{title3}}
			</a>
		</div>

		<div class="c-pebblego-links__category">
			<div class="c-pebblego-links__icon">
				<img src="{{icon4}}">
			</div>
			<h3 class="c-pebblego-links__title">
				{{title4}}
			</h3>
			<p class="c-pebblego-links__description">
				{{description4}}
			</p>
			<a href="{{url4}}" class="c-button">
				{{title4}}
			</a>
		</div>

	</div>
</div>