<div class="c-product-banner" data-cmp-is="product-banner">
	<script>
		window.addEventListener("scroll", function() {
			var scrollTop = window.pageYOffset;
			var image = document.querySelector('.c-product-banner__background img');
			var graphic = document.querySelector('.c-product-banner__graphic img');

			image.style.transform = `translateY(${scrollTop * 0.7}px`;
			graphic.style.transform = `translateX(${scrollTop * 0.2}px)`;
		});
	</script>

	<div class="c-product-banner__background">
		<img src="${properties.bannerBackground}">
	</div>

	<div class="c-product-banner__content">
		<div class="c-product-banner__text">
			<h1 class="c-product-banner__title">
				${properties.title}
			</h1>
			<p class="c-product-banner__tagline">
				${properties.tagline}
			</p>
			<button class="c-button c-product-banner__button" style="background-color: ${properties.color};">
				${properties.buttonText}
			</button>
			<p class="c-product-banner__description">
				${properties.description}
			</p>
		</div>
	</div>

	<div class="c-product-banner__graphic">
		<img src="${properties.graphic}">
	</div>
</div>