<div class="c-product-banner c-banner banner-500 convex" data-cmp-is="product-banner">
	<div class="c-product-banner__background">
		<img src="${properties.bannerBackground}">
	</div>

	<div class="c-product-banner__content">
		<div class="c-product-banner__text">
			<h1 class="c-product-banner__title">
				${properties.title}
			</h1>
			<p class="c-product-banner__tagline" data-content="${properties.tagline}">
				${properties.tagline}
			</p>
			<button class="c-button c-product-banner__button" data-color="${properties.color}">
				${properties.buttonText}
			</button>
			<p class="c-product-banner__description" data-content="${properties.description}">
				${properties.description}
			</p>
		</div>
	</div>

	<div class="c-product-banner__graphic">
		<img src="${properties.graphic}">
	</div>
</div>