.c-help-subpage-main {
	background-color: #fff;
	margin-bottom: -100px;
	padding-top: 100px;
	padding-bottom: 100px;
}

/**
 * Short Banner
 * ------------
 */
.c-short-banner {
	align-items: center;
	justify-content: center;
	margin-bottom: 100px;
	overflow: hidden;
}

.c-short-banner img {
	height: auto;
	min-height: 400px;
	object-fit: cover;
	position: absolute;
	top: 0;
	width: 100%;
}

.c-short-banner__title {
	color: #fff;
	font-size: 54px;
	font-variation-settings: "wght" 700, "WONK" 0, "opsz" 10;
	margin-top: 0;
	position: relative;
}

/* ---------------- */

.c-help-subpage__title {
	font-size: 42px;
	font-variation-settings: "wght" 600, "WONK" 0, "opsz" 10;
	margin-bottom: 60px;
	text-align: center;
}

.c-help-subpage__subtext {
	color: #5F6368;
	font-size: 28px;
	line-height: 40px;
	margin: 0 auto 80px;
	max-width: 730px;
	text-align: center;
	font-variation-settings: "wght" 350, "WONK" 0, "opsz" 10;
}

.c-help-subpage__text {
	color: #1E1E1E;
	font-size: 16px;
	font-family: "Fredoka", sans-serif;
	letter-spacing: -0.2px;
	line-height: 24px;
	margin: 0 auto;
	max-width: 648px;
	font-variation-settings: "wght" 350, "WONK" 0, "opsz" 10;
}