<div class="c-recognition">
	<div class="c-recognition__content">
		<div class="c-recognition__quote-carousel">
			<p class="c-recognition__quote">
				${properties.quote1}
			</p>
			<div class="c-recognition__quote-attribution">
				${properties.attribution1}
			</div>
			<div class="c-recognition__quote-slider">
				<button class="c-recognition__quote-slide" />
				<button class="c-recognition__quote-slide" />
				<button class="c-recognition__quote-slide" />
			</div>
		</div>
		<h3 class="c-recognition__banner">
			${properties.bannerTitle}
		</h3>
		<div class="c-recognition__awards">
			<img src="${properties.awardGraphic1}">
			<img src="${properties.awardGraphic2}">
			<img src="${properties.awardGraphic3}">
			<img src="${properties.awardGraphic4}">
		</div>
	</div>
</div>