<div class="c-pebblego-links" data-cmp-is="pebblego-links">
	<h2 class="c-pebblego-links__title">
		${properties.title}
	</h2>
	<div class="c-pebblego-links__categories">

		<div class="c-pebblego-links__category">
			<div class="c-pebblego-links__icon">
				<img src="${properties.icon1}">
			</div>
			<h3 class="c-pebblego-links__title">
				${properties.title1}
			</h3>
			<p class="c-pebblego-links__description">
				${properties.description1}
			</p>
			<a href="${properties.url1}" class="c-button">
				${properties.title1}
			</a>
		</div>

		<div class="c-pebblego-links__category">
			<div class="c-pebblego-links__icon">
				<img src="${properties.icon2}">
			</div>
			<h3 class="c-pebblego-links__title">
				${properties.title2}
			</h3>
			<p class="c-pebblego-links__description">
				${properties.description2}
			</p>
			<a href="${properties.url1}" class="c-button">
				${properties.title2}
			</a>
		</div>

		<div class="c-pebblego-links__category">
			<div class="c-pebblego-links__icon">
				<img src="${properties.icon3}">
			</div>
			<h3 class="c-pebblego-links__title">
				${properties.title3}
			</h3>
			<p class="c-pebblego-links__description">
				${properties.description3}
			</p>
			<a href="${properties.url3}" class="c-button">
				${properties.title3}
			</a>
		</div>

		<div class="c-pebblego-links__category">
			<div class="c-pebblego-links__icon">
				<img src="${properties.icon4}">
			</div>
			<h3 class="c-pebblego-links__title">
				${properties.title4}
			</h3>
			<p class="c-pebblego-links__description">
				${properties.description4}
			</p>
			<a href="${properties.url4}" class="c-button">
				${properties.title4}
			</a>
		</div>

	</div>
</div>