.c-product-banner {
	display: flex;
	height: 39vw;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.c-product-banner::after {
	background-color: transparent;
	border-radius: 50%;
	bottom: 2vw;
	box-shadow: 0 52px 0 50px #fff;
	content: "";
	height: 15vw;
	left: -25vw;
	position: absolute;
	width: 150vw;
}

.c-product-banner__background {
	position: relative;
}

.c-product-banner__background img {
	width: 100%;
	position: relative;
}