<div class="c-activity-preview">
	<div class="c-activity-preview__description">
		<h2 class="c-activity-preview__title">
			<span>Go</span> Research
		</h2>
		<p class="c-activity-preview__text">
			<span>Nonfiction articles for curious kids!</span>
			Discover thousands of standards-aligned articles across Science, Social Studies, Biographies, Animals and Health with PebbleGo! All PebbleGo articles are also available in Spanish. Articles for upper elementary learners are available in PebbleGo Next.
		</p>
	</div>
	<div class="c-activity-preview__image">
		<img src="./assets/kids-with-computer.png">
	</div>
</div>