<header class="c-header">

</header>
<main class="c-main">
	<component name="home-banner" />
</main>
<footer class="c-footer">
	<div class="c-footer__content">
		<div class="c-footer__links-area">
			<div class="c-footer__links-block">
				<div class="c-footer__links-title">
					More Info
				</div>
				<ul class="c-footer__links-list">
					<li>
						<a href="#">Administrator Login</a>
					</li>
					<li>
						<a href="#">FAQ</a>
					</li>
				</ul>
			</div>

			<div class="c-footer__links-block">
				<div class="c-footer__links-title">
					About Us
				</div>
				<ul class="c-footer__links-list">
					<li>
						<a href="#">Our Story</a>
					</li>
					<li>
						<a href="#">International</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>