.c-header {
	background-color: rgba(255, 255, 255, 0.1);
	background-color: #66008c;
	box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.15);
	height: 100px;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

.c-main {
	min-height: 2000px;
	padding-top: 100px;
}

.c-footer {
	background-color: #470061;
	margin-top: 150px;
	padding: 20px 100px 40px;
	position: relative;
}

.c-footer::before {
	background-color: transparent;
	border-radius: 50%;
	top: -17vw;
	box-shadow: 0 52px 0 50px #470061;
	content: "";
	height: 15vw;
	left: -25vw;
	pointer-events: none;
	position: absolute;
	width: 150vw;
}

.c-footer__content {
	margin: 0 auto;
	position: relative;
	width: 922px;
	z-index: 2;
}

.c-footer__links-area {
	display: flex;
}

.c-footer__links-block {
	width: 300px;
}

.c-footer__links-title {
	color: #C0FF76;
	font-size: 23px;
}

.c-footer__links-list {
	list-style: none;
	padding: 0;
}

.c-footer__links-list li {
	font-family: "Fredoka";
	font-size: 16px;
	font-variation-settings: "wdth" 100;
	font-weight: 100;
	margin: 15px 0;
}

.c-footer__links-list a {
	color: #fff;
	text-decoration: none;
}