.c-support-banner {
	background-color: #8DF1FF;
	display: flex;
	height: 23.4vw;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.c-support-banner::after {
	background-color: #fff;
	border-radius: 50%;
	bottom: -12.5vw;
	content: "";
	height: 15vw;
	left: -25vw;
	position: absolute;
	width: 150vw;
}

.c-support-banner__background {
	position: relative;
}

.c-support-banner__background img {
	width: 100%;
	position: relative;
}