<div class="c-recognition">
	<div class="c-recognition__content">
		<div class="c-recognition__quote-carousel">
			<p class="c-recognition__quote">
				If you want a resource that engages all students in independent learning and has them saying how much they love using it at home an at school, then there is no better option out there for K-3.
			</p>
			<div class="c-recognition__quote-attribution">
				<span>Jennifer Sturge,</span> Calvert County Public Schools
			</div>
		</div>
		<h3 class="c-recognition__banner">
			Recognition
		</h3>
		<div class="c-recognition__awards">
			<img src="./assets/aasl-logo.png">
			<img src="./assets/edtech-logo.png">
			<img src="./assets/tech-learning-aoe.png">
			<img src="./assets/tech-learning-bos.png">
		</div>
	</div>
</div>